peft
numpy>=2.0.2
piper-tts
python-multipart
soundfile
librosa
pydub
jinja2
fastapi
uvicorn
requests
torch
transformers
python-dotenv
sea-g2p
onnxruntime>=1.19.0
soxr
neucodec
soe-vinorm
einops
conformer
s3tokenizer
diffusers
spacy_pkuseg
pykakasi
omegaconf
safetensors
scipy
perth
accelerate
PyYAML
