peft
numpy==1.26.4
piper-tts
llama-cpp-python>=0.3.16
python-multipart
soundfile
librosa
pydub
jinja2
fastapi
uvicorn
requests
torch
torchaudio
transformers
python-dotenv
sea-g2p
onnxruntime>=1.20.0
soxr
einops
conformer
s3tokenizer
diffusers
spacy_pkuseg
pykakasi
omegaconf
safetensors
scipy
perth
accelerate
PyYAML
